head{
  margin-left: auto;
  margin-right: auto;
  }
.dairesel {
  border-radius: 50%;
  overflow: hidden;
  width: 300px;
  height: 300px;
  float:left;
  margin: 2%;
}
.dairesel img {
  display: block;
  min-width: 100%;
  min-height: 100%;
}
.info {
  float:right;
  border:10px solid #f9f2e7;
}
ul {
  list-style-position: inside;
  padding: 20px;
  list-style:none;
}
.media {
  position: relative;
  display: inline;
  margin: 20px;
}

